.mainBlock {
  display: block;
  width: 600px;
  height: 600px;
  margin: auto;
  align-self: center;
  border: 1px solid;
}

#canvas {
  display: block;
  width: 100%;
  height: 500px;
  background-color: #FFFACD;
}

.buttons {
  display: inline-flex;
  width: 100%;
  height: 100px;
  border-top: 1px solid;
  background-color: #FFD700;
}

.play {
  display: block;
  width: 45%;
  margin: auto;
  align-self: center;
}

#play {
  width: 80%;
  height: 45px;
  background-color: green;
  border: 0;
  color: white;
  margin-left: 45px;
}

.pause {
  display: block;
  width: 45%;
  margin: 0 auto;
  align-self: center;
}

#pause {
  width: 80%;
  height: 45px;
  background-color: orangered;
  border: 0;
  color: white;
}
